body {
  font: 16px helvetica;
  display: block;
  margin: 8px;
}
#container {
  margin: 40px auto 60px;
  width: 800px;
}
#content-name {
  font-size: 40px;
  font-weight: bold;
  float: right;
}
.address {
  float: left;
}
.contact {
  float: left;
}
.date {
  float: right;
}
  
